<h1 class="sub-header">Open Pull Requests</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>PR</th>
        <th>Set State</th>
      </tr>
    </thead>
    <tbody>
      <% @pull_requests.each do |pr| %>
      <tr>
        <td><%= link_to pr.url %></td>
        <td>
          <div>
            <%= form_for :pull_request_status do |prs| %>
              <%= prs.text_field :state %>
              <%= hidden_field_tag 'pull_request_repo', pr.repo %>
              <%= hidden_field_tag 'pull_request_sha', pr.sha %>
              <%= prs.submit %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
